<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardConfigMapper">
	<resultMap id="boardConfigMap" type="models.admin.BoardConfig">
		<result property="boardId" column="boardId"/>
		<result property="boardNm" column="boardNm"/>
		<result property="useBoard" column="useBoard"/>
		<result property="useEditor" column="useEditor"/>
		<result property="useComment" column="useComment"/>
		<result property="useAttach" column="useAttach"/>
		<result property="boardIndex" column="boardIndex"/>
		<result property="boardPageIndex" column="boardPageIndex"/>
		<result property="boardRegDt" column="boardRegDt"/>
		<result property="boardModDt" column="boardModDt"/>
	</resultMap>
	
	<!-- 마이 바티스 쿼리 정의 -->
	<!-- 
		DB명 : Djo_board
		테이블명 : boardConfig
		DTO : models.admin.Board
	-->
	
	<select id="configs" parameterType="models.admin.BoardConfig" resultMap="BoardConfigMapper">
		SELECT * FROM boardConfig
		<trim prefix="WHERE" suffixOverrides="AND | OR">
			<if test="boardNm != null">
				boardNm = #{boardNm} AND
			</if>
			<if test="boardId != null">
				boardId = #{boardId} AND
			</if>
		</trim>
	</select>
	
	<select id="config" parameterType="models.admin.BoardConfig" resultMap="BoardConfigMapper">
		SELECT * FROM boardConfig WHERE boardId = #{boardId};
	</select>
	
	<select id="count" parameterType="models.admin.BoardConfig" >
		SELECT COUNT(*) FROM boardConfig WHERE boardId = #{boardId};
	</select>
	
	<insert id="insert" parameterType="models.admin.BoardConfig" >
		INSERT INTO boardConfig (boardId, boardNm, useBoard, useEditor, useComment, useAttach, boardIndex, boardPageIndex)
			VALUES(#{boardId}, #{boardNm}, #{useBoard}, #{useEditor}, #{useComment}, #{useAttach}, #{boardIndex}, #{boardPageIndex});
	</insert>
	
	<update id="update" parameterType="models.admin.BoardConfig">
		UPDATE boardConfig
			<trim prefix="SET" suffixOverrides=",">
				<if test="boardNm != null">
					boardNm = #{boardNm},
				</if>
				<if test="boardUse != null">
					boardUse = #{boardUse},
				</if>
			</trim>
			WHERE boardId = #{boardId};
	</update>
	
	<delete id="delete" parameterType="models.admin.BoardConfig">
		DELETE FROM boardConfig WHERE boardId = #{boardId};
	</delete>
</mapper>